* {
	font-family: 'Bitter', serif;
}

.loading{
	text-align: center;
	display: none;
}

/************ Splash Screen ************/

.splash-screen > .login {
	font-size: 18px;
	margin: 0 auto;
	display: block;
	background-color: #156aeb;
	color: white;
	width: 200px;
}

.splash-screen > .login:hover {
	background-color: #dc4532;
}



.splash-screen > p {
	max-width: 200px;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
}


/*********** Calendar Selection ************/

.calendar-selection {
	display: none;
	text-align: center;
	padding: 15px;
}


/**************** Calendar View ************/

.calendar-view {
	display:none;
	text-align: center;
	

}

#previous-button {
	display:none; 
	height: 0;
	width: 0; 
	border-style: solid;
	border-width: 17.5px 30.3px 17.5px 0;
	border-color: white #050505 white white;
	cursor: pointer; 
	
}

#next-button {
	display: inline-block;
	height: 0;
	width: 0; 
	border-style: solid;
	border-width: 17.5px 0 17.5px 30.3px;
	border-color: white white white #050505;
	cursor: pointer;
	
}

.sm-image {
	display: block;
	max-height: 200px;
	max-width: 200px;
	margin: 0 auto;
	

}

.weather-info {
	position: relative;
	border: 2px solid black;
	width: 15em;
	margin: 0 auto;
	padding: 2em;
	background-color: #c3efff;
}

.js-appt {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	color: #156aeb;
	font-size: 20px;
	
}

.forecast{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: url("images/all.jpg");
}

.forecast.-clear-day {
	background-position: 0 0;
  background-size:420%;
}

.forecast.-partly-cloudy-day {
  background-position: 33% 0;
  background-size:400%;
}

.forecast.-rain {
  background-position: 0 29%;
  background-size:420%;
}

.forecast.-snow {
  background-position: 100% 29%;
  background-size:420%;
}
.forecast.-clear-night {
	background-position: 0 76%;
	background-size: 420%;
}

.forecast.-wind {
	background-position: 28% 100%;
	background-size: 460%;
}

.forecast.-cloudy{
	background-position:32% 55%;
	background-size: 410%;
}

.forecast.-partly-cloudy-night {
	background-position: 30%  76%;
	background-size: 420%;
}

.forecast.-sleet{
	background-position: 100% 53%;
	background-size: 420%;
}
.date, .appointment, .temp, .prec, .sunrise, .sunset {
	font-size: 18px;
	margin: 0 auto;
	text-align: center;

}
